// Color
$brand: #16a34a;
$white: #ffffff;
$black: #000000;
$light: #94a3b8;
$dark: #171717;

// Translate
$tr-fast: all linear 250ms;

// Border radius
$border-rd-low: 7px;
$border-rd-mid: 20px;
$border-rd-high: 60px;

// Screen size
$sc-mid: 995px;
$sc-small: 465px;
